*{  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  sans-serif;
  text-transform: capitalize;
}
.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
 

}
.key-word{
  border-bottom: 1px solid orangered;
  width: 300px;
  margin: auto;
  
}
input{
  text-transform: capitalize;
}